*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #f5f8fb;
}

.header{
  color: #166C87;
  padding: 2rem 4rem;
}

@media (max-width:415px) and (min-width:350px)
{
  .header
  {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}